asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
dotenv==0.0.5
elasticsearch==5.4.0
enum34==1.1.6
gevent==1.2.2
greenlet==0.4.12
idna==2.5
ipaddress==1.0.18
pycparser==2.17
requests==2.17.3
schedule==0.4.3
six==1.10.0
urllib3==1.21.1
websocket==0.2.1
websocket-client==0.40.0
futures
ccxt